<html lang="en">
<head>
    <meta cahrset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/favicon.ico">
    <title>Target Details</title>
</head>
<!--
    Target structure:
    0 - id
    1 - Target
    2 - CommonName
    3 - SessionID
    4 - Date
    5 - Weather
    6 - NumImages
    7 - Gain
    8 - Offset
    9 - Binning
    10- CamTemp
    11 - Notes
    12 - PostProc
    -->
<body>
    <table>
    <tr><th colspan="5"><h2 style="text-align: center;"><span style="background-color: deepskyblue;">Manage Target</span></h2></th></tr>
	<tr>
	<th>Target</th>
	<th>Common Name</th>
	<th>Image Type</th>
	<th>Session ID</th>
	<th>Date</th>
	</tr><tr>
	<td>{{ Target[1] }}</td>
	<td>{{ Target[2] }}</td>
	<td>{{ Target[3] }}</td>
	<td>{{ Target[4] }}</td>
	<td>{{ Target[5] }}</td>
	
	</tr><tr>
	<th>Num Images</th>
	<th>Duration</th>
	<th>Gain</th>
	<th>Offset</th>
	<th>Binning</th>
	<th>Cam Temp</th>
	</tr><tr>
	<td>{{ Target[7] }}</td>
	<td>{{ Target[8] }}</td>
	<td>{{ Target[9] }}</td>
	<td>{{ Target[10] }}</td>
	<td>{{ Target[11] }}</td>
	<td>{{ Target[12] }}</td>
	</table>
	
	<label style="font-size: larger; font-weight: bold;">Weather</label><br>
        <textarea readonly class="weather-box">{{ Target[6] }}</textarea><br>
        
    <label style="font-size: larger; font-weight: bold;">Notes:</label><br>
        <textarea readonly class="text-box">{{ Target[13] }}</textarea><br>
    
    <label style="font-size: larger; font-weight: bold;">PostProc:</label><br>
        <textarea readonly class="text-box">{{ Target[14] }}</textarea>
    
    <table style="short-table">
    <tr>
    <form method="POST" action="/modify">
        <td><input type="submit" value="Modify"></td>
        <input type="hidden" name="ID" value= "{{ ID }}">
    </form>

    <form method="POST" action="/removeok" onsubmit="return ConfirmDelete();">
        <td><input type="submit" value="Remove"></td>
        <input type="hidden" name="ID" value= "{{ ID }}">
    </form>
    <form method="POST" action="/refresh">
        <td><input type="submit" name="action" value="Back"></td>
    </form>
    </tr></table>
    
    <script>
    function ConfirmDelete() {
    var confirmation = confirm("Are you sure you want to permanently remove this record?");
    if (confirmation) {
        return true; // Proceed with form submission
    } else {
        return false; // Stop form submission
    }
    }
    </script>
    
</body>
</html>

